<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.video.scanning.dao.HostPathMapper">
  <resultMap id="BaseResultMap" type="com.video.scanning.entity.HostPath">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="route" jdbcType="VARCHAR" property="route" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="file_id" jdbcType="INTEGER" property="fileId" />
    <result column="version" jdbcType="VARCHAR" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, route, describe, file_id, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from host_path
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from host_path
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.video.scanning.entity.HostPath">
    insert into host_path (id, route, describe, 
      file_id, version)
    values (#{id,jdbcType=INTEGER}, #{route,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, 
      #{fileId,jdbcType=INTEGER}, #{version,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.video.scanning.entity.HostPath">
    insert into host_path
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="route != null">
        route,
      </if>
      <if test="describe != null">
        describe,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="route != null">
        #{route,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.video.scanning.entity.HostPath">
    update host_path
    <set>
      <if test="route != null">
        route = #{route,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        describe = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.video.scanning.entity.HostPath">
    update host_path
    set route = #{route,jdbcType=VARCHAR},
      describe = #{describe,jdbcType=VARCHAR},
      file_id = #{fileId,jdbcType=INTEGER},
      version = #{version,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.video.scanning.entity.HostPath">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="route" jdbcType="VARCHAR" property="route" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="file_id" jdbcType="INTEGER" property="fileId" />
    <result column="version" jdbcType="VARCHAR" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, route, describe, file_id, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from host_path
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from host_path
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.video.scanning.entity.HostPath">
    insert into host_path (id, route, describe, 
      file_id, version)
    values (#{id,jdbcType=INTEGER}, #{route,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, 
      #{fileId,jdbcType=INTEGER}, #{version,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.video.scanning.entity.HostPath">
    insert into host_path
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="route != null">
        route,
      </if>
      <if test="describe != null">
        describe,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="route != null">
        #{route,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.video.scanning.entity.HostPath">
    update host_path
    <set>
      <if test="route != null">
        route = #{route,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        describe = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.video.scanning.entity.HostPath">
    update host_path
    set route = #{route,jdbcType=VARCHAR},
      describe = #{describe,jdbcType=VARCHAR},
      file_id = #{fileId,jdbcType=INTEGER},
      version = #{version,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="entity.HostPath">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="route" jdbcType="VARCHAR" property="route" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="file_id" jdbcType="INTEGER" property="fileId" />
    <result column="version" jdbcType="VARCHAR" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, route, describe, file_id, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from host_path
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from host_path
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.HostPath">
    insert into host_path (id, route, describe, 
      file_id, version)
    values (#{id,jdbcType=INTEGER}, #{route,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, 
      #{fileId,jdbcType=INTEGER}, #{version,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.HostPath">
    insert into host_path
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="route != null">
        route,
      </if>
      <if test="describe != null">
        describe,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="route != null">
        #{route,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.HostPath">
    update host_path
    <set>
      <if test="route != null">
        route = #{route,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        describe = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.HostPath">
    update host_path
    set route = #{route,jdbcType=VARCHAR},
      describe = #{describe,jdbcType=VARCHAR},
      file_id = #{fileId,jdbcType=INTEGER},
      version = #{version,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.video.scanning.entity.HostPath">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="route" jdbcType="VARCHAR" property="route" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="file_id" jdbcType="INTEGER" property="fileId" />
    <result column="version" jdbcType="VARCHAR" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, route, describe, file_id, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from host_path
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from host_path
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.video.scanning.entity.HostPath">
    insert into host_path (id, route, describe, 
      file_id, version)
    values (#{id,jdbcType=INTEGER}, #{route,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, 
      #{fileId,jdbcType=INTEGER}, #{version,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.video.scanning.entity.HostPath">
    insert into host_path
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="route != null">
        route,
      </if>
      <if test="describe != null">
        describe,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="route != null">
        #{route,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.video.scanning.entity.HostPath">
    update host_path
    <set>
      <if test="route != null">
        route = #{route,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        describe = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.video.scanning.entity.HostPath">
    update host_path
    set route = #{route,jdbcType=VARCHAR},
      describe = #{describe,jdbcType=VARCHAR},
      file_id = #{fileId,jdbcType=INTEGER},
      version = #{version,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="entity.HostPath">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="route" jdbcType="VARCHAR" property="route" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="file_id" jdbcType="INTEGER" property="fileId" />
    <result column="version" jdbcType="VARCHAR" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, route, describe, file_id, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from host_path
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from host_path
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.HostPath">
    insert into host_path (id, route, describe, 
      file_id, version)
    values (#{id,jdbcType=INTEGER}, #{route,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, 
      #{fileId,jdbcType=INTEGER}, #{version,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.HostPath">
    insert into host_path
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="route != null">
        route,
      </if>
      <if test="describe != null">
        describe,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="route != null">
        #{route,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.HostPath">
    update host_path
    <set>
      <if test="route != null">
        route = #{route,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        describe = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.HostPath">
    update host_path
    set route = #{route,jdbcType=VARCHAR},
      describe = #{describe,jdbcType=VARCHAR},
      file_id = #{fileId,jdbcType=INTEGER},
      version = #{version,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="entity.HostPath">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="route" jdbcType="VARCHAR" property="route" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="file_id" jdbcType="INTEGER" property="fileId" />
    <result column="version" jdbcType="VARCHAR" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, route, describe, file_id, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from host_path
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from host_path
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.HostPath">
    insert into host_path (id, route, describe, 
      file_id, version)
    values (#{id,jdbcType=INTEGER}, #{route,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, 
      #{fileId,jdbcType=INTEGER}, #{version,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.HostPath">
    insert into host_path
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="route != null">
        route,
      </if>
      <if test="describe != null">
        describe,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="route != null">
        #{route,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.HostPath">
    update host_path
    <set>
      <if test="route != null">
        route = #{route,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        describe = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.HostPath">
    update host_path
    set route = #{route,jdbcType=VARCHAR},
      describe = #{describe,jdbcType=VARCHAR},
      file_id = #{fileId,jdbcType=INTEGER},
      version = #{version,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>