<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.video.scanning.dao.VideoDiskMapper">
  <resultMap id="BaseResultMap" type="com.video.scanning.entity.VideoDisk">
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <result column="computer_name" jdbcType="VARCHAR" property="computerName" />
    <result column="computer_ip" jdbcType="VARCHAR" property="computerIp" />
    <result column="port" jdbcType="VARCHAR" property="port" />
    <result column="version" jdbcType="VARCHAR" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    cid, computer_name, computer_ip, port, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from video_disk
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from video_disk
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.video.scanning.entity.VideoDisk">
    insert into video_disk (cid, computer_name, computer_ip, 
      port, version)
    values (#{cid,jdbcType=INTEGER}, #{computerName,jdbcType=VARCHAR}, #{computerIp,jdbcType=VARCHAR}, 
      #{port,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.video.scanning.entity.VideoDisk">
    insert into video_disk
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="computerName != null">
        computer_name,
      </if>
      <if test="computerIp != null">
        computer_ip,
      </if>
      <if test="port != null">
        port,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="computerName != null">
        #{computerName,jdbcType=VARCHAR},
      </if>
      <if test="computerIp != null">
        #{computerIp,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.video.scanning.entity.VideoDisk">
    update video_disk
    <set>
      <if test="computerName != null">
        computer_name = #{computerName,jdbcType=VARCHAR},
      </if>
      <if test="computerIp != null">
        computer_ip = #{computerIp,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        port = #{port,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.video.scanning.entity.VideoDisk">
    update video_disk
    set computer_name = #{computerName,jdbcType=VARCHAR},
      computer_ip = #{computerIp,jdbcType=VARCHAR},
      port = #{port,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.video.scanning.entity.VideoDisk">
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <result column="computer_name" jdbcType="VARCHAR" property="computerName" />
    <result column="computer_ip" jdbcType="VARCHAR" property="computerIp" />
    <result column="port" jdbcType="VARCHAR" property="port" />
    <result column="version" jdbcType="VARCHAR" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    cid, computer_name, computer_ip, port, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from video_disk
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from video_disk
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.video.scanning.entity.VideoDisk">
    insert into video_disk (cid, computer_name, computer_ip, 
      port, version)
    values (#{cid,jdbcType=INTEGER}, #{computerName,jdbcType=VARCHAR}, #{computerIp,jdbcType=VARCHAR}, 
      #{port,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.video.scanning.entity.VideoDisk">
    insert into video_disk
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="computerName != null">
        computer_name,
      </if>
      <if test="computerIp != null">
        computer_ip,
      </if>
      <if test="port != null">
        port,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="computerName != null">
        #{computerName,jdbcType=VARCHAR},
      </if>
      <if test="computerIp != null">
        #{computerIp,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.video.scanning.entity.VideoDisk">
    update video_disk
    <set>
      <if test="computerName != null">
        computer_name = #{computerName,jdbcType=VARCHAR},
      </if>
      <if test="computerIp != null">
        computer_ip = #{computerIp,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        port = #{port,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.video.scanning.entity.VideoDisk">
    update video_disk
    set computer_name = #{computerName,jdbcType=VARCHAR},
      computer_ip = #{computerIp,jdbcType=VARCHAR},
      port = #{port,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="entity.VideoDisk">
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <result column="computer_name" jdbcType="VARCHAR" property="computerName" />
    <result column="computer_ip" jdbcType="VARCHAR" property="computerIp" />
    <result column="port" jdbcType="VARCHAR" property="port" />
    <result column="version" jdbcType="VARCHAR" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    cid, computer_name, computer_ip, port, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from video_disk
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from video_disk
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.VideoDisk">
    insert into video_disk (cid, computer_name, computer_ip, 
      port, version)
    values (#{cid,jdbcType=INTEGER}, #{computerName,jdbcType=VARCHAR}, #{computerIp,jdbcType=VARCHAR}, 
      #{port,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.VideoDisk">
    insert into video_disk
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="computerName != null">
        computer_name,
      </if>
      <if test="computerIp != null">
        computer_ip,
      </if>
      <if test="port != null">
        port,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="computerName != null">
        #{computerName,jdbcType=VARCHAR},
      </if>
      <if test="computerIp != null">
        #{computerIp,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.VideoDisk">
    update video_disk
    <set>
      <if test="computerName != null">
        computer_name = #{computerName,jdbcType=VARCHAR},
      </if>
      <if test="computerIp != null">
        computer_ip = #{computerIp,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        port = #{port,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.VideoDisk">
    update video_disk
    set computer_name = #{computerName,jdbcType=VARCHAR},
      computer_ip = #{computerIp,jdbcType=VARCHAR},
      port = #{port,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.video.scanning.entity.VideoDisk">
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <result column="computer_name" jdbcType="VARCHAR" property="computerName" />
    <result column="computer_ip" jdbcType="VARCHAR" property="computerIp" />
    <result column="port" jdbcType="VARCHAR" property="port" />
    <result column="version" jdbcType="VARCHAR" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    cid, computer_name, computer_ip, port, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from video_disk
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from video_disk
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.video.scanning.entity.VideoDisk">
    insert into video_disk (cid, computer_name, computer_ip, 
      port, version)
    values (#{cid,jdbcType=INTEGER}, #{computerName,jdbcType=VARCHAR}, #{computerIp,jdbcType=VARCHAR}, 
      #{port,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.video.scanning.entity.VideoDisk">
    insert into video_disk
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="computerName != null">
        computer_name,
      </if>
      <if test="computerIp != null">
        computer_ip,
      </if>
      <if test="port != null">
        port,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="computerName != null">
        #{computerName,jdbcType=VARCHAR},
      </if>
      <if test="computerIp != null">
        #{computerIp,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.video.scanning.entity.VideoDisk">
    update video_disk
    <set>
      <if test="computerName != null">
        computer_name = #{computerName,jdbcType=VARCHAR},
      </if>
      <if test="computerIp != null">
        computer_ip = #{computerIp,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        port = #{port,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.video.scanning.entity.VideoDisk">
    update video_disk
    set computer_name = #{computerName,jdbcType=VARCHAR},
      computer_ip = #{computerIp,jdbcType=VARCHAR},
      port = #{port,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="entity.VideoDisk">
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <result column="computer_name" jdbcType="VARCHAR" property="computerName" />
    <result column="computer_ip" jdbcType="VARCHAR" property="computerIp" />
    <result column="port" jdbcType="VARCHAR" property="port" />
    <result column="version" jdbcType="VARCHAR" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    cid, computer_name, computer_ip, port, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from video_disk
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from video_disk
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.VideoDisk">
    insert into video_disk (cid, computer_name, computer_ip, 
      port, version)
    values (#{cid,jdbcType=INTEGER}, #{computerName,jdbcType=VARCHAR}, #{computerIp,jdbcType=VARCHAR}, 
      #{port,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.VideoDisk">
    insert into video_disk
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="computerName != null">
        computer_name,
      </if>
      <if test="computerIp != null">
        computer_ip,
      </if>
      <if test="port != null">
        port,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="computerName != null">
        #{computerName,jdbcType=VARCHAR},
      </if>
      <if test="computerIp != null">
        #{computerIp,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.VideoDisk">
    update video_disk
    <set>
      <if test="computerName != null">
        computer_name = #{computerName,jdbcType=VARCHAR},
      </if>
      <if test="computerIp != null">
        computer_ip = #{computerIp,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        port = #{port,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.VideoDisk">
    update video_disk
    set computer_name = #{computerName,jdbcType=VARCHAR},
      computer_ip = #{computerIp,jdbcType=VARCHAR},
      port = #{port,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="entity.VideoDisk">
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <result column="computer_name" jdbcType="VARCHAR" property="computerName" />
    <result column="computer_ip" jdbcType="VARCHAR" property="computerIp" />
    <result column="port" jdbcType="VARCHAR" property="port" />
    <result column="version" jdbcType="VARCHAR" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    cid, computer_name, computer_ip, port, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from video_disk
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from video_disk
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.VideoDisk">
    insert into video_disk (cid, computer_name, computer_ip, 
      port, version)
    values (#{cid,jdbcType=INTEGER}, #{computerName,jdbcType=VARCHAR}, #{computerIp,jdbcType=VARCHAR}, 
      #{port,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.VideoDisk">
    insert into video_disk
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="computerName != null">
        computer_name,
      </if>
      <if test="computerIp != null">
        computer_ip,
      </if>
      <if test="port != null">
        port,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="computerName != null">
        #{computerName,jdbcType=VARCHAR},
      </if>
      <if test="computerIp != null">
        #{computerIp,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.VideoDisk">
    update video_disk
    <set>
      <if test="computerName != null">
        computer_name = #{computerName,jdbcType=VARCHAR},
      </if>
      <if test="computerIp != null">
        computer_ip = #{computerIp,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        port = #{port,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.VideoDisk">
    update video_disk
    set computer_name = #{computerName,jdbcType=VARCHAR},
      computer_ip = #{computerIp,jdbcType=VARCHAR},
      port = #{port,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
</mapper>